extends layout

block content 
    h1.border-bottom Chat
    div(id="chatBox" style="overflow:scroll")
    br
    select(id="room")
            option(value="all") All
            option(value="1") Room 1 
            option(value="2") Room 2  
            option(value="3") Room 3  
            option(value="4") Room 4  
    form(id="chat")
        br
        input(type="text" id="msg")
        input(type="submit")

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/chat.js')
    script(type='text/javascript', src="/js/jquery-3.6.0.min.js") 