extends layout.pug

block content
    
    form(class="border border-primary" style="width:60%;padding:10px;margin:10px" method="post" action="/api/formulario/saveCont")
      h1.border-bottom Nueva Incidencia
      div.form-group
        label(for="name") Nombre:
        input.form-control(id="nombre" name="nombre" type="text" required)
      div.form-group
        label(for="dni") DNI:
        input.form-control(id="dni" name="dni" type="text" required)
      div.form-group
        label(for="tipo") Tipo de Incidencia:
        select.form-control(id="incidencia" name="incidencia")
          option(value="1") Tipo 1
          option(value="2") Tipo 2
          option(value="3") Tipo 3
          option(value="4") Tipo 4
      div.form-group
        label(for="urg") Urgencia:
        div.form-group(id="urg")
          div(class="form-check form-check-inline")
            input.form-check-input(name="urgencia" type="radio" id="urgencia" value="Baja" required)
            label.form-check-label(for="Baja") Baja
          div(class="form-check form-check-inline")
            input.form-check-input(name="urgencia" type="radio" id="urgencia" value="Media" required)
            label.form-check-label(for="Media") Media
          div(class="form-check form-check-inline")
            input.form-check-input(name="urgencia" type="radio" id="urgencia" value="Alta" required)
            label.form-check-label(for="Alta") Alta
      div.form-group
        label(for="desc") Descripcion:
        br
        textarea.form-control(id="descripcion" name="descripcion" type="text" required)
      button(class="btn btn-outline-secondary" type="submit") Enviar

