extends layout.pug

block content
    
    form(class="border border-primary" style="width:60%;padding:10px;margin:10px" method="post" action='/api/incidenciasUpdate/update/' + formResults[incToUp]._id)
      h1.border-bottom Editando Incidencia #{incToUp}
      div.form-group
        label(for="name") Nombre:
        input.form-control(id="nombre" name="nombre" type="text" value=formResults[incToUp].nombre required)
      div.form-group
        label(for="dni") DNI:
        input.form-control(id="dni" name="dni" type="text" value=formResults[incToUp].dni required)
      div.form-group
        label(for="tipo") Tipo de Incidencia:
        select.form-control(id="incidencia" name="incidencia" value=formResults[incToUp].incidencia required)
          option(value="1") Tipo 1
          option(value="2") Tipo 2
          option(value="3") Tipo 3
          option(value="4") Tipo 4
      div.form-group
        label(for="urg") Urgencia:
        div.form-group(id="urg")
          div(class="form-check form-check-inline")
            input.form-check-input(name="urgencia" type="radio" id="urgencia" value="Baja" required)
            label.form-check-label(for="Baja") Baja
          div(class="form-check form-check-inline")
            input.form-check-input(name="urgencia" type="radio" id="urgencia" value="Media" required)
            label.form-check-label(for="Media") Media
          div(class="form-check form-check-inline")
            input.form-check-input(name="urgencia" type="radio" id="urgencia" value="Alta" required)
            label.form-check-label(for="Alta") Alta
      div.form-group
        label(for="desc") Descripcion:
        br
        textarea.form-control(id="descripcion" name="descripcion" type="text" value=formResults[incToUp].descripcion required)
      div.form-group
        label(for="estado") Estado:
        div.form-group(id="estado")
          div(class="form-check form-check-inline")
            input.form-check-input(name="estado" type="radio" id="estado" value="Abierta" required)
            label.form-check-label(for="Abierta") Abierta
          div(class="form-check form-check-inline")
            input.form-check-input(name="estado" type="radio" id="estado" value="Cerrada" required)
            label.form-check-label(for="Cerrada") Cerrada
          div(class="form-check form-check-inline")
            input.form-check-input(name="estado" type="radio" id="estado" value="Pendiente" required)
            label.form-check-label(for="Pendiente") Pendiente
      button(class="btn btn-outline-secondary" type="submit") Guardar Cambios
      a(href="/api/incidencias") 
        button(type="button") Cancelar
       

