extends layout.pug


block content

        h1 Listado de Incidencias
        - var count = 0
        form(class="border border-primary" style="width:60%;padding:10px;margin:10px" method="post" action="/api/incidencias/filterNom")
          div.form-group
            label(for="name") Nombre:
            input.form-control(id="nombre" name="nombre" type="text")
          button(class="btn btn-outline-secondary" type="submit") Filtrar Nombre
        form(class="border border-primary" style="width:60%;padding:10px;margin:10px" method="post" action="/api/incidencias/filterEst")
          div.form-group
            label(for="estado") Tipo de Incidencia:
              select.form-control(id="estado" name="estado")
                option(value="Abierta") Abierta
                option(value="Cerrada") Cerrada
                option(value="Pendiente") Pendiente
          button(class="btn btn-outline-secondary" type="submit") Filtrar Estado
        form(class="border border-primary" style="width:60%;padding:10px;margin:10px")
          each n in formResults
              p= "Numero de incidencia: " + (count)
              p= "Nombre: " + formResults[count].nombre
              p= "DNI: " + formResults[count].dni
              p= "Tipo de Incidencia: " + formResults[count].incidencia
              p= "Urgencia: " + formResults[count].urgencia 
              p= "Descripcion: " + formResults[count].descripcion
              p= "Estado: " + formResults[count].estado
              .row(style='text-align: left;')
                .col-md-6
                  a(href='/api/incidencias/delete/' + formResults[count]._id) 
                    button(type="button") Eliminar
                  a(href='/api/incidenciasUpdate/' + count) 
                    button(type="button") Editar
              p.border-bottom
              - count = count + 1;
              br
         
        
    



          

