doctype doctype html
html
    head
        title Web Chat
        link(rel='stylesheet', href='/css/style.css')
        script(type='text/javascript' src='/js/jquery-3.6.0.min.js')
    body 
        a(href='/api/chat') 
            button(type="button") Chat
        a(href='/api/formulario') 
            button(type="button") Formulario
        a(href='/api/incidencias') 
            button(type="button") Incidencias
        block content
